@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>About Us</h1>
</hgroup>

<article>
    <p style="text-align:justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus commodo urna. Ut suscipit leo a nisl lacinia, eget feugiat velit finibus. Curabitur condimentum sagittis mi, non scelerisque risus maximus pharetra. Vestibulum id turpis felis. Nunc facilisis, felis sed ultrices tincidunt, ipsum ex aliquam risus, vitae egestas tortor libero ac augue. Mauris ac elit mattis, laoreet diam in, fermentum lectus. Phasellus et est et libero congue scelerisque. Mauris placerat orci enim, quis ornare ante tempor non. Morbi sagittis dictum fermentum. Maecenas placerat hendrerit lectus in tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi at sem ac neque eleifend tincidunt. Nullam in sapien et leo sodales interdum ut pretium nibh. Proin lacinia nulla sem, sed pellentesque purus ornare ac.
    </p>
    <p style="text-align:justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus commodo urna. Ut suscipit leo a nisl lacinia, eget feugiat velit finibus. Curabitur condimentum sagittis mi, non scelerisque risus maximus pharetra. Vestibulum id turpis felis. Nunc facilisis, felis sed ultrices tincidunt, ipsum ex aliquam risus, vitae egestas tortor libero ac augue. Mauris ac elit mattis, laoreet diam in, fermentum lectus. Phasellus et est et libero congue scelerisque. Mauris placerat orci enim, quis ornare ante tempor non. Morbi sagittis dictum fermentum. Maecenas placerat hendrerit lectus in tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi at sem ac neque eleifend tincidunt. Nullam in sapien et leo sodales interdum ut pretium nibh. Proin lacinia nulla sem, sed pellentesque purus ornare ac.
    </p>
    <p style="text-align:justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus commodo urna. Ut suscipit leo a nisl lacinia, eget feugiat velit finibus. Curabitur condimentum sagittis mi, non scelerisque risus maximus pharetra. Vestibulum id turpis felis. Nunc facilisis, felis sed ultrices tincidunt, ipsum ex aliquam risus, vitae egestas tortor libero ac augue. Mauris ac elit mattis, laoreet diam in, fermentum lectus. Phasellus et est et libero congue scelerisque. Mauris placerat orci enim, quis ornare ante tempor non. Morbi sagittis dictum fermentum. Maecenas placerat hendrerit lectus in tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi at sem ac neque eleifend tincidunt. Nullam in sapien et leo sodales interdum ut pretium nibh. Proin lacinia nulla sem, sed pellentesque purus ornare ac.
    </p>
    <p style="text-align:justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus commodo urna. Ut suscipit leo a nisl lacinia, eget feugiat velit finibus. Curabitur condimentum sagittis mi, non scelerisque risus maximus pharetra. Vestibulum id turpis felis. Nunc facilisis, felis sed ultrices tincidunt, ipsum ex aliquam risus, vitae egestas tortor libero ac augue. Mauris ac elit mattis, laoreet diam in, fermentum lectus. Phasellus et est et libero congue scelerisque. Mauris placerat orci enim, quis ornare ante tempor non. Morbi sagittis dictum fermentum. Maecenas placerat hendrerit lectus in tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi at sem ac neque eleifend tincidunt. Nullam in sapien et leo sodales interdum ut pretium nibh. Proin lacinia nulla sem, sed pellentesque purus ornare ac.
    </p>
</article>
