@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>Contact Us</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span>Main Line:</span>
        <span>080.555.0100</span>
    </p>
    <p>
        <span>After Hours:</span>
        <span>080.555.0199</span>
    </p>
</section>
<br/>
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span>Support:</span>
        <span><a href="mailto:Support@cause2life.com">Support@cause2life.com</a></span>
    </p>
    <p>
        <span>Marketing:</span>
        <span><a href="mailto:Marketing@cause2life.com">Marketing@cause2life.com</a></span>
    </p>
    <p>
        <span>General:</span>
        <span><a href="mailto:General@cause2life.com">General@cause2life.com</a></span>
    </p>
</section>
<br/>
<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        #128, 1st Main, Koramangala<br />
        Bengaluru, Karnataka 98006,<br/>
        India
    </p>
</section>