@{
    ViewBag.Title = "Error";
}

<div style="text-align:center;margin-top:10%;">
    <h2 class="error">Oops!! Something went wrong .. </h2> <br /><br />
    <img src="~/Images/404-error-page.png" style="border-radius: 50%; border: 1px solid #c8c8c8;" />
</div>